# ##07.08 데이터베이스의 이해 및 실습

In [1]:
# 1.DBMS

# Why data base and big data ??

# 정형 데이터 20% vs 비정형 데이터 80% 

# Structured , semi - structured , unstructured 

# 많은 회사들이 이 데이터 베이스에 많은 관심을 가지고 있다.

# Strucutred data는 회사들이 아주 잘하고 있는 분야 -> 그 이외의 unstructured는 아직 회사의 영역이 아님.

# Data와 Informantion은 확실히 다름 -> 잘라서 이야기 하기 어려움 -> 데이터는 있는 그대로의 값 or 사실 -> insight 도출

In [2]:
# **integrity이 가장 중요하다!!!! -> 항상 miss , 오류가 없어야 한다는 특징을 지님
# 중복을 피하기 위해서 -> entitiy가 작은 단위에서 찾아야 함

In [ ]:
# 왜 RDBMS인가??

# relational database로 학교에서 가장 흔한 형태 
# Light SQL: fault tolerance 기능은 있으나 -> 표시를 안해줌 , 동시 접근이 가능하지 않고 나만 접근 가능

In [3]:
### RDBMS 컨셉들 

# relation / table
# tuple / row 
# attribute / column or field 
# Degree / number of columns 
# Domain / pool & legal value 
# Primary key -> unique identifier

In [7]:
# Entity - relation - model : ERD의 설계 

# Entity , relation , attrbiute , Primary key 

# Entitiy = 네모 // relation = 마른모 

# data를 설계 및 SCHEMA에 맞게 설계 => 전공자들이 지겹게 했던 설계법

# 교수는 하나 많은 학생을 지도 (1, n) 이라는 관계를 가짐 

#  delete & drop은 필드에서 잘못쓰면 욕먹을 가능성이 매우 높음 -> 위험하기 떄문

In [8]:
# int, string 등 데이터에 문제가 발샐할 수 있으니 ,데이터 크기를 넉넉히 잡는 것은 매우 중요하다**

In [9]:
# DML : 데이터를 생성하는 언어 
# 보통 숫자가 들어가면 PK에 해당 돌 경우가 매우 많음, 따라서 6개의 value들을 채워넣을 수 있음 
# 앞에 똑같은 아이지만 다른 방식으로 추가 -> NULL를 허용함 -> Int , primary , auto-increase 
#                                                    (contact name, address, postal code는 필수 정보) quary 형태로 database에 삽입

In [16]:
# SELECT에 많은 제약조건이 붙어 까다롭게 될 수도 있음, 

# SELECT * FROM T ;
# SELECT c1 FROM T ;
# SELECT * FROM T WHERE c1 = 1 ;
# SELECT * FROM T ORDER BY C1 DESC ;

# WHERE

# USed to filter records
# Used to extract only those records that fulfill a specific condition 


#Ineer join 

#select ID where Teacher inner join Students 


# TABLE 만들기

# Create table department { DepartmentID INT Primary key, DepartmentName VARCHAR(20)}


# Table에 값을 집어넣는 방식!!! 

# INSERT INTO department VALUES (31, 'Sales') ; 


# CROSS JOIN

# SELECT * FROM employeee cross join department ; 
# 이는 가능한 모든 쌍을 전부 생성한다는 특징을 지님 -> 그 뒤에 where절을 통하여 특정 data을 다시 색출 -> 그러나 이는 느리다는 단점을 지님

# 1 : n에 관계가 만들어지는게 맞다 -> matching 되는 교집합이 없으면 -> 탈락!!


# LEFT OUTER JOIN 
# 서로 다른 table에서 어느 것을 가지고 올 것인지? -> table 1을 전부, TABLE 1 ^ TABLE 2 공집합을 가지고 옴 

# FULL OUTER JOIN
# 합칠 수 있는 부분은 합치고 나머지 left, right에 남는 부분은 NULL인 값이 입력된다. 

# SELECT * FROM employee FULL OUTER JOIN department ON employee.DepartmentID = department.DepartmentID ;

In [20]:
# SELECT * FROM PART ; -> 2개 
# SELCT FROM SELLS WHERE PRICE > 11 ; -> 3개 
# SELECT SNO PRICE FROM  SELSS WHERE PNO = 1 AND PRICE <= 10 ;


# SELECT SNAME,PNAME,PRICE FROM SELLS,SUPPERLIER, PART (CROSS JOIN - 8*4*4)

# ##SQL LITE

In [21]:
import sqlite3

In [22]:
sqlite3.version

'2.6.0'

In [23]:
sqlite3.version_info

(2, 6, 0)

In [24]:
sqlite3.sqlite_version

'3.27.2'

In [25]:
sqlite3.sqlite_version_info

(3, 27, 2)

In [29]:
# conn = sqlite3.connect("경로/이름" or ":memory:")
conn = sqlite3.connect(":memory:")
# CONNECTION은 Database를 관리해주는 친구임 ; 이는 connect 객체를 만듬

In [31]:
# CURSUR 객체를 생성, SQL과 정보를 주고 받을 예정임
cur = conn.cursor()

In [34]:
type(cur)
dir(cur) # excute 관련된 객체들이 있는 지 확인 // connect 관련된 객체들이 있는 지 확인

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [41]:
cur.execute("select sqlite_version()")  # cursur을 실행???

In [42]:
cur.fetchall()   # 버전이 맞는지 확인함

[('3.27.2',)]

In [46]:
sqlite3.complete_statement()   # SQL은 반드시 ;이 필요하다. 그럼 왜 위에 있는 코드는 실행이 되었나???
                               # 위에는 넣은 것은 하나의 문장이기 떄문에 -> 가능 -> 결론 : ; 꼭 써라

TypeError: Required argument 'statement' (pos 1) not found

In [47]:
# SQL DATATYPE들 

# 1. NULL , 2. INTEGER , 3. REAL , 4. BLOB

In [76]:
cur.execute("create table people (name_last, age)")

OperationalError: table people already exists

In [77]:
who = "Daniel"
age = 27

In [87]:
# Qmark 스타일은 간단해서 좋음 -> 그러나 데이터가 너무 많으면 쓰기 힘들어짐 (계속 반복을 해야 한다는 한계를 지님)
cur.execute("insert into people values (?,?)",(who,age))

In [88]:
cur.execute("select* from people where name_last = :who and age = :age", {"who":who , "age":age})
# 키값이 정해져 있으면 : 을 사용하여 확실하게 값을 지정할 수 있음 name_Last 와 WHO를 매칭, age 와 age을 매칭

In [89]:
cur.fetchone()

('Daniel', 27)

In [90]:
# cur.executemany('SQL',params)

In [59]:
sql = "insert into people values (?,?)"

In [91]:
curData = {('A',1),('B',2),('C',3)}

In [92]:
cur.executemany(sql,curData)

In [97]:
data = [('A',1),('B',1),('C',1)]
cur.executemany("INSERT INTO people values (?,?)", data)

In [101]:
dataDict = [{"who":"E", "age":1},{"who":"F" , "age":1}]

In [103]:
cur.executemany("INSERT INTO people values (:who, :age)", dataDict)

In [104]:
cur.execute("select*from people")

In [105]:
cur.fetchall()

[('Daniel', 27),
 ('Daniel', 27),
 ('B', 2),
 ('A', 1),
 ('C', 3),
 ('Daniel', 27),
 ('Daniel', 27),
 ('B', 2),
 ('A', 1),
 ('C', 3),
 ('A', 1),
 ('B', 1),
 ('C', 1),
 ('E', 1),
 ('F', 1)]

In [108]:
cur.executescript("""
       create table person(
              first_name text primary key,
              insert_name text not null
              ); 
              insert into person values ('name' , 'kim');""")

In [109]:
## 뒤에 두개를 못 적음 ㅜㅜ

In [110]:
cur.fetchone()

In [112]:
cur.fetchmany(size)

NameError: name 'size' is not defined

In [320]:
conn.close

In [116]:
conn

In [118]:
conn = sqlite3.connect('create.db')
print('opened database successfully')

opened database successfully

In [249]:
# DDL 방식
cur = conn.execute('''CREATE TABLE COMPANY(
                ID INT PRIMARY KEY NOT NULL,
                NAME TEXT NOT NULL,
                AGE INT NOT NULL,
                ADDRESS CHAR(50), 
                SALARY      REAL);''')
print("Table created successfully")

Table created successfully

In [248]:
conn.execute("drop table company")

In [259]:
# DML 3가지 방법~~~!!!
# 이를 commit하면 데이터베이스에서 반영을 한다 -> 어느 정도 transaction으로 묶어놓은 다음 commit을 하는게 중요, 아니면 rollback을 해야 한다,

#방법 1번 
cur.execute("insert into company (ID, NAME,AGE, ADDRESS, SALARY) values ( 1, 'naver', 32, 'seoul',20000.00)") ;

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [251]:
cur.execute("insert into company (ID, NAME,AGE, ADDRESS, SALARY) values ( 6, 'Google', 32, 'seoul',20000.00)") ;

In [252]:
# 방법 2번

data = [(2,'Teddy',23,'norway',20000.00),
        (3, 'Jessy', 23, 'finland', 3000.00)]

In [253]:
cur.executemany("insert into company(ID, NAME,AGE, ADDRESS, SALARY) values (?,?,?,?,?)", data);

In [254]:
#방법 3번

cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (4, 'AA', 44, 'aa', 300000) """);

In [255]:
cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'AA', 44, 'aa', 300000) """);

In [279]:
conn.commit()
print("records create successfuly")

records create successfuly

In [258]:
cur.lastrowid, conn.total_changes

(2, 27)

In [276]:
cur.execute('select * from company')

In [264]:
# 이는 fetchall 보다 더 효과적인 방법이다. fetchall 같은 경우는 데이터를 계속 물고 있어서 효율적이지 못한다는 단점을 지닌다
for row in cur:
    print(row)

In [278]:
cid = 1

#cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = ID ",{'id':cid})

cur.execute("UPDATE COMPANY set SALARY = 15000.00 where ID = 1 ")

In [281]:
# iterdump -> dump를 만들어서 데이터를 항상 백업시킨다!

In [376]:
conn.execute("drop table Artist")

In [339]:

conn.executescript(
    
'''create table Artist (
       id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, name TEXT); ''') 

conn.executescript('''

 create table Genre (
       id integer not null primary key autoincrement unique, name TEXT); ''')

conn.executescript( '''

 create table Album (
       id integer not null primary key autoincrement unique, title Text, artist_id integer) ; ''')

In [381]:

conn.executescript(
    
'''create table Artist (
       id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, name TEXT); ''')

In [340]:
conn.executescript(
    
'''create table Track (
       id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, 
       title TEXT, 
       length INTEGER,
       rating INTEGER,
       album_id INTEGER, 
       Genre_id INTEGER ); ''')

In [382]:
conn.execute ("insert into Artist (name) values ('daniel')")

In [383]:
conn.execute ("insert into Artist (name) values ('AC/DC')")

In [384]:
conn.execute ("insert into Genre (name) values ('Rock')

SyntaxError: EOL while scanning string literal (<ipython-input-384-6d8ba6c9c957>, line 1)

In [385]:
conn.execute ("insert into Genre (name) values ('Metal')")

In [361]:
conn.execute ("""
              INSERT INTO Album (title, artist_id)
               values (:album, 
               (SELECT id 
               from artist 
               WHERE name =:artist));""",{"album":"엘범", "artist":"가수이름"})

In [388]:
conn.commit()
print("records create successfuly")

records create successfuly

In [375]:
# JOIN

conn.execute ("""
              SELECT title,Artist_id 
              from Album 
                  join Artist on 
                       Album.artist_id = Artist.id
              """)

In [377]:
conn.execute ("""
              SELECT Album.title,Track.title 
              from Track
                  join Album on 
                       Track.album_id = Album.id
              """)

In [389]:
# 최종 통합표~~!!
conn.execute ("""

              SELECT Track.title, Artist.name, Album.title,Genre.name 
              from Track
                  join Artist join Album join Genre on 
                       Track.album_id = Album.id
                       and
                       Track.genre_id = Genre.id
                       and 
                       Album.artist_id = Artist.id
              """)