In [2]:
import sqlite3

In [11]:
conn = sqlite3.connect('playlist6.db')
print("Opened Database Successfully")
cur = conn.cursor()
cur.executescript('''
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, 
        name TEXT);
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT);
    CREATE TABLE Album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER);
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER); 
''')
print("Table created successfully")

Opened Database Successfully
Table created successfully

In [13]:
cur.execute('INSERT INTO Artist (name) VALUES("LED ZEPPLIN")')
cur.execute('INSERT INTO Artist (name) VALUES("AC/DC")')
cur.execute('INSERT INTO Genre (name) VALUES("rock")')
cur.execute('INSERT INTO Genre (name) VALUES("Metal")')

In [14]:
cur.execute("""
    INSERT INTO Album(title, artist_id)
    VALUES(:Album,
        (SELECT id
        FROM Artist
        WHERE name =:Artist))""",{"Album":"Who Made Who","Artist":"AC/DC"})

In [15]:
cur.execute("""
    INSERT INTO Album(title, artist_id)
    VALUES(:Album,
        (SELECT id
        FROM Artist
        WHERE name =:Artist))""",{"Album":"IV","Artist":"LED ZEPPLIN"})

In [16]:
cur.executescript("""
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Black Dog",5,297,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Stairway",5,482,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("About to Rock",5,313,0,1,2);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Who made Who",5,207,0,1,2);
""")

In [17]:
conn.commit()

In [20]:
cur.execute('''
SELECT Album.title, Artist.name
FROM Album
JOIN Artist ON Album.artist_id = Artist.id''')

In [ ]:
# email이 아이디, 비번 생년월일
# 118.27.37.152 / http://lms.sunde41.net/