# Data

In [1]:
# mastering matplotlib 
# spark를 이용한 분산자료 ->
# 3V Volume 양이 무진장 많아야 한다. Variety 다양성 Velocity 속도
# 분산처리  hadoop가 필요할 텐데
# 정형 데이터 / semi structure or documented type of data / unstructured data
# mostly paying attention to the unstructured data 
# DB / Semi-structured Data, object-relational mapping , 정규식 -> semi structured data
#를 잘 쓰기 위해서 . 데이터 정제, 부
# 3일차 JSON / XML, 공공데이터 포털에서 파싱하는 법
# 4, 5일차 비정형 데이터를 수집할 지 ->  static page , dynamic page, .... crawling
# scrapping, ...

- DB 개요 RDBMS, SQL , SQLite
- ORM SQLAlchemy Regular Expression
- HTML5,  CSS
- JSON , XML

In [2]:
# DB를 한다는 것은 structured data를 다룬다는 의미이다.

## DBMS -> Database management system

data vs. information
data : raw facts , no context, just numbers and text
Information : processed data, data with context, value-added data

- database: collection of data organized in a manner that allows access, retrieval, and use of that data -> means 'structured'
- Data: collection of unprocessed items: text, numbers images audio ,video

In [3]:
# What is database ? a collection of interrelated data, a set of intergrated, stored, shared and operational data
# 조건: Integrated, stored, shared, operational
# 통합: 동일한 데이터가 주복되지 않도록 구성하고 ㅗ치소한의 중복 또는 통제된 중복 만을 허용한다.
# 저장: 컴퓨터로 접근 가능한 물리적 저장 매체 저장
# 공유: 공동으로 소유하고 유지하며 이용하는 데이터
# 운영: 존재 목적이나 기능 수행에 꼭 필요한 데이터 집합

In [4]:
# 데이터베이스 특징
# 실시근 접근성: 데이터들 간의 밀접한 관계로 연결, 중복 데이터를 배제하도고록 지양, 사용자의 어떤 요구에도 즉각 응답
# 계속적인 변화: 현실 세계의 상태를 정확히 반영, 동적으로 삽입,삭제,수정하여 현재의 데이터 유지
# 동시 공유 가능: 여러 사용자들이 동시에 이용, 같은 시간에 같은 데이터에 접근하여 이용
# 내용에 의한 참조 가능: 저장된 주소나 위치에 의해서 참조하지 않고
# 사용자가 요구하는 데이터의 내용 / 값에 따라 참조

In [5]:
# 코드 짜기도 바쁜데 데이터베이스를 하나하나 관리하기 어렵다 -> 그 과정에서
# DBMS라는 애가 중간에 서 데이터베이스를 관리해 주는 형식이다.

 DBMS?
- a collection of programs
- manage the database structure
- controls access to the data stored in the databse


DBMS의 역할?
- create database
- insert, update and delete data
- sort and query data
- creat form and report

## DBMS 역할과 장점
- improved data sharing
- improved data security
- minimized data inconsistency
- imporved data access
- improved decision making
 - increasd end user productivity
  - reduce application development time
  
  DBMS ? for integratiy
  
  HADOOP을 이용한 분산 처리 없이는 기존의 DB architecture를 이기기 어렵다.

## DB model:

- relational database model: SQL..
entity : table이라 부른다.
- object relational database model -> postgrad SQL
entity : object

- relational database model 을 object relational DB model처럼 쓰게 만드는 방법이 ORM

- noSQL - mongoDB 쓰는 법은 특강으로 존재할 것.

# 1.2 RDBMS:

- 데이터 안정성: data is immune to program crashes
- concurrent access: atomic updates via transactions
- fault tolerance: replicated DBS for instant fallover on machine/ disk crashes
- data integrity: aids to keep data meaningful
- scalability: can handel small/ large ....

## RDBMS

- relation / table
- tuple / row or record
- cardinality / number of rows
- degree/ number of columns
- domain / pool or legal values
- primary key / unique identifier

In [6]:
# 주로 primary key를 아이디로 만든다. -> 이래야 중봅ㄱ 검사를 해서 primary key로서
# 작성되도록 만들 수 있다.

In [7]:
# 얘를 만들ㄸ ㅐ사용하는 게 바로 Entity-Relationship Mdoel이다.

In [8]:
# Entity ;실 세계에 존재하는 분리된 실제 하나를 표현, 일반적으로 명사 하나에 해당
# relationship:  개체들 사이에 존재하는 연관이나 연결, 일반적으로 동시에 해당
# 최소 대응수(minimum cardinality)와 최대 대응수(maximum cardniality)로 구성
# 속성(Attribute): 개체의 성질, 분류, 식별, 수량, 상태 등을 나타내는 세부 항목
# 관계 또한 속성을 보유할 수 있음
# 기본키(primary key, 혹은  pk): 모든 개체를 고유하게 식별할 수 있는 속성

In [9]:
# 학사정보시스템을 만든다고 가정했을 때 , samsung notes 참고

In [10]:
# relationship : mapping cardinality

In [11]:
# 조건 1: 교수는 꼬 ㄱ 학생에 대한 지도를 해야 한다 - > min-card(교수,지도) = 1

In [12]:
# 조건 2: 교수는 여러 명의 학생을 지도할 수 있다. -> max-card:(교수, 지도) = n
# 조건 3: 학생은 꼬 교수에게 지도를 받아야 한다. -> min-card(교수, 지도) = 1
# 조건 4: 학생은 여러 명의 교수에게 지도를 받을 수 없다. -> max-card(교수,지도)=1

# wording -> view table 찾을 것...

# SQL: Structured Query Language

- RDBMS의 데이터를 관리하기 위해 만들어진 언어(대부분 ISO 표준을 따름) -> 디비엠에스 마다 조금씩 다를 수 있다. 
- 자료의 검색과 관리, 데이터베이스 스키마 새엇ㅇ과 수정, 데이터베이스 객체 접근 조정 관리 등을 고안

SQL 명령:
- 데이터 정의 언어 DDL(Data Definition Language)
 - create, drop, alter, truncate
- 데이터 조작 언어 DML(Data Manipulation Language)
 -  Insert, update, delete, select
- 데이터 제어 언어 DCL(data control language)
 - grant, revoke
 
데이터 정의 언어는 개발자한테 절대 넘기지 않는다.슈퍼관리자가 정의를 하지...

나아가 조작 언어도 조심

In [13]:
# update, delete 구문을 개인적으로 절대 쓰지 말라고 가르친다.
# 데이터가 한방에... 위험하기 짝이 없어

#UPDATE country
#SET  population = poulation + 1
#WHERE  name = 'USA'

# Data type of SQL

- boolean(BOOLEAN)
 - to repeat value True or FALSE
- Character (CHAR, VARCHAR) - > CHAR는 CHAR(10)이라고 하면 A라고 치면 공백 9개 포함VARCHAR -> 가변, 최대 10
 - to represent character data for columns such as names of persons or cities
- Exact Numeric(NUMERIC, DECIMAL,  INTEGER, SMALLINT, BIGINT)
 - TO PRESENT NUMBER SUCH AS 1,2,3, ... AND SO ON
 - USED FOR NUMBERS WITH FRACTIONS SUCH AS 123.45
- APPROXIMATE NUMERIC(REAL, FLOAT, DOUBLE_
 - TO REPRESENT NUMBERS WITH FRACTIONS SUCH AS 123,45
 - PRECISINO OF THE FRACTION MAY NOT BE PRESERVED ACROSS MANIPULATION SUCH AS COL,UMN NUMBERS
 
 CLOB

## BOOLEAN

- VALUES OF BOOLEAN COLUMN : TRUE OR FALSE

## CHARACTER
- SEQUENCE OF CHARACTERS ASUCH AS NAMES OF PERSONS, CITIES, ETC
- SYNTAX

## VARCHAR
- SYNTAX{VARCHAR | CHARACTER VARYING | CHAR VARYING }

## INTEGER
- 4BYTES(32BITS)

## DATE

## TIME

## CLOB 

## BLOB

DBMS마다 조금씩 다 다르다. -> 다 알아야돼 ㅂㄷㅂㄷ

# DDL
- CREATE

CREATE TABLE [TABLE NAME] ([COLUMN DEFINITION]) [TABLE PARAMETERS]

CONSTRATINS:
- NOT NULL: NOT ALLOWING NULL
- UNIQUE: ENSURES THAT ALL VALUES IN A COLUMN ARE DIFFERENT
- PRIMARY KEY: A COMBINATION OF A NOT NALL AND UNIQUE, UNIQUELY IDENTIFIES EACH ROW IN A TABLE
- FOREIGN KEY: UNIQUELY IDENTIFIES A ROW/ RECORD IN ANOTHER TABLE
- CHECK 
- DEFAULT
- INDEX

- AUTO INCREMENT

CREATE TABLE employees{
id INTEGER  PRIMARY KEY,
first_name VARCHAR(50) not null,
last_name VARCAHAR(25) not null,
fname VARCHAR(25) not null,
dateofbirth DATE not null
};

Drop
- DROP objecttype objectname 
- DROP TABLE employees;
- 안쓰는 걸 추천, 싹 날리지만 10번까지 날릭고 다시 넣으면 11로 시작함 ㅂㄷㅂㄷ
- 하나의 열 이상을 날린다는 의미이다. 
-> 얘는 최대한 쓰지 말아라..

TRUNCATE
- TRUNCATE TABLE table_name
- delete all data from a table, 다 날리면 1번부터 다시 시작

ALTER 
- ALTER objecttype objectname parameters
- modifies existing database

DROP을 쓴다는 건 DB를 매우 위험하게 만들고 있따는 의미이고
ALTER를 쓰고 있다는 건 DB 설계를 잘못했다는 의미이다.

# DML

INSERT
- INSERT INTO table (column 1{,column 2 , column 3 ...}) VALUES(value1{,value2, value3});
- INSERT INTO table VALUES (value1 {,value2, value3});

- INSERT INTO phone_book(name,number) VALUES('asdf', 'asdf', 'asdf');

SELECT
- SELECT column1, column2, ...
- FROM  table_name;
- SELECT CumstomerName, City FROM Customers;
- SELECT * FROM Customer
- * 은 모든 컬럼을 얘기한다. -> cross 조인이라고 부르고
- 매우 안좋은 방법이다. 테이블을 여러개 부른다? 잘못쓰신것이다. 

인젝션이란 무엇인가??? 

- SELECT [ALL | DISTRICT] 컬럼명 [,컬럼명...] FROM 테이블명 [,테이블명...]
- [WHERE 조건식]
- [GROUP BY 컬럼명 [HAVING 조건식]
- [GROUP BY 컬럼명]


- WHERE: SPECIFIES WHICH ROWS TO RETRIEVE -> 조건문이 들어간다
- GROUP BY: GROUPS ROWS SHARING A PROPOERTY SO THAT AN AGGREGATE FUNCTION CAN BE APPLIED TO EACH GROUP
- HAVING: SELECTS AMONG THE GROUP DEFINED BY THE GROUP BY CLAUSE
- ORDER BY : SPECIFIES AN ORDER IN WHICH TO RETURN THE ROWS
- AS: PROVIDES AN ALLAS WHICH CAN BE USED TO TEMPORARILY RENAME TABLES OR COLUMNS

- SELECT * FROM T ORDER BY C1 DESC -> DESCENDING ORDER 라는 의미이다. 
- SELECT * FROM T WHERE C1 = 1 -> 교집합을 출력한다는 의미이다. 

AND, OR

- DELETE
- FROM mytable
- WHERE mycol > 100 AND item = 'hammer'

LIKE

- a% -> 앞이 a로 시작하고 뒤는 신경쓰지 않는다
- %a -> 뒤가 a로 끝나고 앞은 신경쓰지 않는다.
- %or% -> 앞뒤 상관 안하고 중간에 or이 있으면 된다.

UPDATE
 - UPDATE table_name
 - SET column1 = value1, column2 = value2
 - WHERE condition ;
 
 얘를 사용하면 기존의 데이터를 잃어버릴 가능성이 있어서
 개인적으로 추천하지 않는다. 
 
 - changes the data of one or more records in a atable
 - either all the rows can be updated or a subset may be chosen using a condition
 
 Example of UPDATE
 
 - UPDATE Customers
 - SET Customername = 'alfred', city = 'firefox
 - WHERE CustomerID = 1;
 
 UPDATE는 굉장히 위험하다. 자신없으면  쓰지 마. 
 
 - UPDATE Customers
 - SET ContactName = 'Juan'
 
 이러면 ContactName의 내용물이 다 Juan으로 바뀐다. 
 
 * LIMIT option은 자주 쓸 것이다. 
 
 DELETE
 
 - DELETE FROM table_name
 - WHERE condition;
 - removes one or more records
 - 쓰지마... 그냥..
 
 - DELETE FROM table_name;
 - Delete all records
 
 JOINS
 - combines columns from one or more tables in a relational database, based on a related column between them
 - JOIN: INNER, LEFT OUTER, RIGHT OUTER, FULL OUTER , CROSS
 - INNER JOIN: 교집합, LEFT JOIN: TABLE 1, RIGHT JOIN: TABLE 2, FULL OUTER JOIN: 교집합
 - (INNER) JOIN: RETURNS RECORDS THAT HAVE MATCHING VALUES IN BOTH TABLES
 - LEFT(OUTER) JOIN: RETURN ALL RECORDS FROM THE LEFT TABLE, AND THE MATCHED RECORDS FROM THE RIGHR TABLE
 - RIGHT JOIN: RETURN ALL RECORDS FROM THE RIGHR TABLE, AND THE MATCHED RECORDS FROM THE LEFT TABLE
 - FULL(OUTER) TABLE: RETURN ALL RECORDS WHEN THERE IS A MATCH IN EITHER LEFT OR RIGHT
 
 EXAMPLE OF JOINS
 - SELECT Orders.Order ID, Customers.CustomerName, Orders.OrderDate FROM Orders
 - INNER_JOIN Customers ON Orders.CustomerID = Customers.CustomerID;
 
 - INNER #table1 #table2 ... 요론 식으로 cross join을 하기도 하는데 좋지 않다. 
 
DB 파일 만드는 사람이 DB 만들고 DUMP 파일을 만들고 나눠 갖는걸로 DB를 테스트해볼 수 있다.

CROSS JOIN
- SELECT *
- FROM employ CROSS JOIN department
여기에 where 절을 걸어서 employment 6행, department 4행을 갖고 있을 때, 6의 4승 개 만들어버리기 때문에 느리다.

INNER JOIN
- SELECT employee.LastName, employee.DepartmentID, department.DepartmentName FROM employee
- INNER JOIN department ON employee.DepartmentID = department.DepartmentID;
 
LEFT OUTER JOIN
- SELECT *
- FROM employee
- LEFT OUTER JOIN department ON employee.DepartmentID = department.DepartmentID;

RIGHT OUTER JOIN
- SELECT *
- FROM employee RIGHT OUTER JOIN department ON employee.DepartmentID = department.DepartmentID

FULL OUTER JOIN 둘 다 모두 해당 되는 경우
- SELECT *
- FROM employee FULL OUTER JOIN depatment ON employee.DepartmentID = department.DepartmentID

## SQLite

- open source db
- serverless (direct io)
- self-contained
- single disk file
- zero configuration
- supports RDBMS features such as ACID , SQL syntax, transactions

In [14]:
import sqlite3

In [15]:
sqlite3.version

'2.6.0'

In [20]:
# 위는 sqlite 패키지 버전이고 아래는 sqlite 자체의 버전을 의미한다.

In [16]:
sqlite3.version_info

(2, 6, 0)

In [18]:
sqlite3.sqlite_version

'3.21.0'

In [19]:
sqlite3.sqlite_version_info

(3, 21, 0)

In [21]:
# 유저는 하나, 서버는 없지만, 다른 점은 일반적인 디비랑 매우 비슷하다.
# 우선 디비가 잇는 서버에 접속해야한다.

In [22]:
# conn = sqlite3.connect('경로/이름' or ':memory') -> DB가 있다면 경로를, 없다면 on memory 라는 의미로 ':memory'를 넣는다.

In [23]:
#opens a connection to the sqlite database file datatbase. you can use ":memory:" to open
# a database connection to a adatabase tha resides in RAM instead of on disk

SyntaxError: invalid syntax (<ipython-input-23-09d832332f3e>, line 1)

In [25]:
conn = sqlite3.connect(':memory:')

In [26]:
type(conn)

sqlite3.Connection

In [27]:
conn

In [28]:
# 하나의 DB 는 하나의 파일이다.

In [29]:
cur = conn.cursor()

In [30]:
# Cursor(facctory = cursor): the cursor method accepts a single optional parameter factory
# if supplied , this musst be a acallable returning an instead of cursor of its subclasses

In [31]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [33]:
# 'execute',
# 'executemany',
# 'executescript',
# 'fetchall',
# 'fetchmany',
# 'fetchone',
# 얘내들을 유의해야 한다.

In [34]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [35]:
# 커넥션에 있는 엑세큐트는 임시로 만드는 것이다.
# connection에 있는 execute 문은 잊어버리세요 
# Conneciton 은 db 접속을 위해 필요하다. 
# 실제 query를 전달하고 받으려면 cursor의 execute / fetch를 시행해야 한다.
# execute는 한줄 짜리 
# 같은 쿼리 가지고 시퀜셜한 데이터를 반복적으로 집어 넣을 때 executemany
# semicolon이 여러개인 것을 넣을 때  executescript 
# fetch는 전체 결과를 다 받아온다. list의 형태로
# fetchone 하나
# fetchmany는 지정한 여러개를 가지고 온다.

In [39]:
cur.execute("select sqlite_version()")

In [40]:
cur.fetchall()

[('3.21.0',)]

In [42]:
sqlite3.complete_statement("select sqlite_version()")

False

In [43]:
sqlite3.complete_statement("select sqlite_version();")

True

In [44]:
# 반드시 세미 콜론 붙이라고 보여준 것이다.

## data type of sqlite
- null
- integer
- real; the value in floating point type
- text:the value is a text string, stored using the data encoding
- BLOB: the value is a blob of data, stored exxactly as it was input byte type of large of bytes??

In [45]:
#cur.execute('sql')
# execute(sql[,parameters]): executes an sql statement. the sql statement may be 
# parameterized. the sqite3 module supports

In [53]:

#cur.execute("create table people (name_last, age)")
who = 'katelin'
age = 72

# this is the qmark styole
cur. execute("Insert into people values (?,?)", (who, age))

# and this is the named style
cur.execute("select * from people where name_last = :who and age=:age",{'who':who, 'age':age})

print(cur.fetchone())

('katelin', 72)

In [ ]:
# cur. executemany('SQL',paramas)
# executes an sql dcommand against all parameter sequences or mappnings found in the 
# sequence seq_of_parameters. The sqlite3 module also allow using an interator uielding
# parametrs instead of a sequence

In [65]:
sql = "insert into people values (?,?)"
curData = [('A',1),('B',2),('c',3)]

cur.executemany(sql,curData)

In [66]:
print(cur.fetchmany())

[]

In [67]:
sql2 = 'select * from people where name_last = :who and age=:'
curData2 = [{'A':1, 'B':2, 'C':3}]

cur.executemany(sql2, curData2)

OperationalError: unrecognized token: ":"

In [68]:
# executescript
# cur.executescript('''SQL1; SQL2; ...  ''')
# this is a nonstandrad convenience method for executing multiple SQL statements at once
# it issuees a COMMIT statement first, then executes the SQL script it gets as a parameter

In [ ]:
# 항상 COMMIT을 하고 다음을 진행한다.

In [73]:
cur.executescript('''
    create table person(
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values('name','kim'); ''')

In [74]:
conn

In [89]:
conn.close()

In [90]:
conn

In [91]:
# DB browser for SQLite라는 맥 프로그램 이 있다.

In [92]:
#cur.fetchone()
#cur.fetchall()

In [93]:
# DDL

#create

conn = sqlite3.connect('create.db')
print("Opened Database Successfully")
cur = conn.cursor()
cur.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY  NOT NULL,
        NAME           TEXT NOT NULL,
        AGE            INT  NOT NULL,
        ADDRESS        CHAR(50),
        SALARY         REAL);
''')
print("Table created successfully")

Opened Database Successfully

OperationalError: table COMPANY already exists

In [94]:
cur.fetchall()

[]

In [95]:
# DML
cur.execute("INSERT INTO COMPANY (ID,NAME, AGE, ADDRESS, SALARY) VALUES(1, 'PAUL', 32, 'CALIFORNIA',20000.00)");
cur.execute("INSERT INTO COMPANY (ID,NAME, AGE, ADDRESS, SALARY) VALUES(:id, :name, :age, :address,:salary)",
            {'id':2, 'name':'allen','age':25, 'address':'texas', 'salary':15000.00});

data = [(3,'teddy',23,'norway', 20000.00),
        (4, 'mark',25,'rich-mond',65000.00)]
cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS, SALARY) VALUES (?,?,?,?,?)", data);
cur.executescript("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS, SALARY)
    VALUES(5,'MARK1',25,'RICHMOND',65000.00);
    
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS, SALARY)
    VALUES (6,'MARK2',25,'RICHMOND',65000.00)
""");

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [96]:
# 이렇게 CONN으로 바로 하면 커서를 받아놓고 하지 않았기 때문에 데이터가 다 보여 ㄷㄷ

In [ ]:
# UPDATE

In [105]:
cid = 1
cur.execute("UPDATE COMPANY set SALARY = 25000.00 WHERE ID = :id",{'id': cid})
conn.commit()
print("Total numer of rows updated : ", conn.total_changes)

Total numer of rows updated :  1

In [106]:
# DELETE

In [107]:
cur.execute("DELETE FROM COMPANY WHERE ID = 2;")
print("Total number of rows deleted : ", conn.total_changes)

Total number of rows deleted :  2

In [108]:
# db 생성 / 열기 cursor 생성 에러 대처 방법
#import sqlite3 as sql # ERror handling
#con = None
#try:
#    con = sql.connect('test.db')

In [114]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Cars(ID INT, Name TEXT, Price INT)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")
    cur.execute("INSERT INTO Cars VALUES(1,'audi',51223)")

AttributeError: 'str' object has no attribute 'connect'

### TABLE 생성
- CONNECT TABLE Artist(
         id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, name TEXT)

- CONNECT TABLE Genre(
         id

In [120]:

#conn = sqlite3.connect('playlist.db')
#print("Opened Database Successfully")
#cur = conn.cursor()
cur.executescript('''
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, 
        name TEXT);
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT);
    CREATE TABLE Album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER);
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER.
        genre_id INTEGER) 
        ''');
print("Table created successfully")

OperationalError: table Artist already exists

In [122]:
cur.execute('CREATE TABLE Track(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,title TEXT,length INTEGER,rating INTEGER,count INTEGER,album_id INTEGER,genre_id INTEGER)');

In [124]:
cur.execute('INSERT INTO Artist (name) VALUES("LED ZEPPLIN")')
cur.execute('INSERT INTO Artist (name) VALUES("AC/DC")')
cur.execute('INSERT INTO Genre (name) VALUES("rock")')
cur.execute('INSERT INTO Genre (name) VALUES("Metal")')

In [126]:
conn.commit()

In [138]:
cur.execute("""
    INSERT INTO Album(title, artist_id)
    VALUES(:Album,
        (SELECT id
        FROM Artist
        WHERE name =:Artist))""",{"Album":"Who Made Who","Artist":"AC/DC"})

In [139]:
conn.commit()

In [141]:
cur.execute("""
    INSERT INTO Album(title, artist_id)
    VALUES(:Album,
        (SELECT id
        FROM Artist
        WHERE name =:Artist))""",{"Album":"second jedai","Artist":"LED ZEPPLIN"})

In [142]:
conn.commit()

In [146]:
cur.executescript("""
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Black Dog",5,297,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Stairway",5,482,0,2,1);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("About to Rock",5,313,0,1,2);
    INSERT INTO Track(title, rating, length, count, album_id, genre_id) VALUES ("Who made Who",5,207,0,1,2);
""")

In [147]:
conn.commit()

In [148]:
'''
select Album.title, Artist name
    from Album
        join Artist on  # 아무것도 안적어놨기 때문에 inner join 이다. sqlite에선 
            album.artist_id = Artist.id
'''

'\n\n'

In [149]:
# right-join을 사용하면 -> right join not supported 이런 식으로 쓰인다. 
'''
select Track.title, Genre.name
    from Track
        join Genre on  # cross join처럼 만들면 된다, Genre on 뒤에 필요한 테이블 처럼 쓰며ㅑㄴ 된다. 
            Tracck.genre_id = Genre.id
'''

'\nselect Track.title, Genre.name\n    from Track\n        join Genre on  # cross join처럼 만들면 된다, Genre on 뒤에 필요한 테이블 처럼 쓰며ㅑㄴ 된다. \n            Tracck.genre_id = Genre.id\n'

In [ ]:
'''
select Track.title, Artist.name, Album title, Genre.name
    from Track
        join Artist join Album join Genre on
            Track.Album_id = Album_id
            and
            Track.genre_id = Genre_id
            and
            Album.artist_id = Artist_id
'''