# 빅데이터

- DBMS
- ORM, RE
- JSON, XML

## DBMS

- 80% Unstructured
- 20% Structured

- data : 있는 그대로의 값, 사실
- information : 의사결정에 중요한 정보를 제공(data로부터 만들어진다)
- DataBase: 안에 들어있는 데이터를 structured data 라고 부른다. 
    - interrelated data
    - 통합 : 동일한데이터가 중복 안되게하는데, 최소한의 중복만 허용 
    - 저장 : 컴퓨터로 접근 가능한 물리적 저장매체
    - 공유 : 공동으로 소유하고 유지하며 이용하는 데이터
    - 운영 : 존재 목적이나 기능 수행에 꼭 필요한 데이터 집합

### DB 특징
- 실시간 접근성 (Real-time Accessibility)
    - 데이터들 간의 밀접한 관계로 연결
    - 중복 데이터를 배제하도록 지양
    - 사용자의 어떤 요구에도 즉각 응답
- 계속적인 변화 (Continuous evolution)
    - 현실 세계의 상태를 정확히 반영
    - 동적으로 삽입/삭제/수정하여 현재의 데이터 유지
- 독시 공유 가능 
    - 여러 사용자들이 동시에 이용
    - 같은 시간에 같은 데이터에 접근하여 이용
- 내용에 의한 참조 가능
    - 저장된 주소나 위치에 의해서 참조하지 않고 사용자가 요구하는 데이터의 내용/값에 따라 참조

### DBMS
- collection of programs
- manage the database strucetur
- controls access to the data stored in the database

### DBMS역할
- create databases
- insert, update, delete data
- sort and query data
- create form and report

#### DBMS 역할과 장점 (데이터 베이스가 하는 일을 도와주는것, 뒤에 있는 내용이 DB가 하는 역할이고 그것들을 원활하게 만들어주는것) 
- improved data sharing
- improved data security
- Minimized data inconsistency
- improved data access
- improved decision making
- increased end-user productivity
- Reduce application development time

### DBMS 종류
- 계층형 모델
- 네트워크형 모델

#### 관계 데이터 모델(table) - 얘만 할거임. but ORM을 통해 밑에 애처럼 쓸수 있게 만든다??
- 개체를 테이블, 개체 집합들 사이의 관계를 공통 속성으로 연결

#### 객체 관계 모델 (object)
- 속성-관계
- 개체 관계

## RDBMS

- 왜 이걸 사용할까? (전체적 DBMS 의 특징)
    - 데이터 안정성
    - 동시 접근성
    - 장애 허용성
    - 데이터 무결성
    - 데이터 확장성
    - 데이터 보고서

- Relation / table
- tuple/row or Record
- attribute / Column or Field
- cardinality / Number of Rows
- degree / Number of colums
- Domain / pool or legal values
- Primary key / unique identifier

## 개체 관계 모델
- 개체 : 실세계에 존재하는 분리된 하나를 표현, 일반적으로 명사하나에 해당
- 관계 : 개체들 사이에 존재하는 연관이나 연결, 일반적으로 동사에 해당, (minimum cardinality, maximum cardinality로 구성)
- 속성 : 개체의 성질, 분류, 식별, 수량, 상태 등을 나타내는 세부 항목, 관계또한 속성 보유가능
- 기본키

관계 ( mapping cardinality)

(min-card, max-card)

이름으로 pk설정하면 hash처리를 못해서 시간차이가 많이남

##  SQL (Structured Query Language)
- RDBMS 의 데이터를 관리하기 위해 만들어진 언어
- 자료의 검색과 관리, 데이터베이스 스키마 생성과 수정, 데이터 베이스 객체 접근 조정관리 등을 고민


## SQL 명령
- 데이터 정의 언어 (DDL)  => SUPER 관리자만
    - CREATE, DROP, ALTER, TRUNCATE
- 데이터 조작 언어 (DML)  => UPDATE, DELETE 권한 주면 안됨 (이 두개는 필드 나가서도 쓸일 없음)
    - INSERT, UPDATE, DELETE, SELECT
- 데이터 제어 언어 (DCL)
    - GRANT, REVOKE

SQL 구문 : 문(Statement), 절(Clause), 식(Expression), 술어(Predicate)

## Data Type

- Boolean
- Character (char-고정폭, varchar-가변폭) -> char는 공간이 남으면 blank채우는데, varchar는 안채움
- Exact numeric (numeric, decimal, integer, smallint, bigint)
- Approximate numeric (real, float, double)
- DateTime(date, time, timestamp) / Large Object(clob, blob)

DATE/TIME

# DDL

CREATE TABLE table_name (

id integer PRIMARY KEY,

first_name varchar(15) not null
);


#### constraints
- NOTNULL
- UNIQUE
- PRIMARY KEY
- FOREIGN KEY
- CHECK
- DEFAULT
- INDEX


#### DROP
- DROP object_type object_name;

#### TRUNCATE (index number를 처음부터 다시시작함, delete는 index는 남아있음) -> 테스트 충분히 한다음 본서버로 넘어갈 때 싹 날림
- TRUNCATE TABLE table_name; 

#### ALTER
- ALTER object_type object_name parameters

# DML

#### INSERT
- INSERT INTO table (column1 [,column2,...]) VALUES (value1[,value2,...])

#### SELECT
- SELECT column1,enum2,... from table_name

- WHERE
    - used filter r
- GROUP BY

'_r%' 한글자 + r + 뒤에아 무거나


'''UDATE 
set
where'''

#### Join (얘때문에 DB를 쓴다?) -> 집합과 집합 사이에 어느 부분을 가져올 것이냐
INNER JOIN (교집합)
LEFT JOIN (LEFT 그대로)
RIGHT JOIN (RIGHT 그대로)
FULL OUTER JOIN (합집합)

SELECT * from s INNER JOIN a ON sdf (???)
id INT reference 다른 테이블 명(다른 테이블 PK) -> 다른 테이블 참조

#### cross join(느려서 추천하지 않음)
select * from employee cross join department; 


## 예시 찾기
#### inner join
#### left join
#### right join
#### full outer join

### DCL 
-없음

# SQLite

- import sqlite3
- sqlite3 version (string)
- sqlite3.version_info (tuple)
- sqlite3.sqlite_version
- sqlite3.sqlite_version_info

In [4]:
import sqlite3

In [11]:
sqlite3.version

'2.6.0'

In [12]:
sqlite3.version_info

(2, 6, 0)

In [13]:
sqlite3.sqlite_version

'3.27.2'

In [14]:
sqlite3.sqlite_version_info

(3, 27, 2)

## DB 연결(생성)
- conn = sqlite3.connect('경로/이름' or ':memory:')

In [23]:
conn = sqlite3.connect(':memory:')

In [25]:
type(conn)

sqlite3.Connection

## Cursor 생성
- cur = conn.cursor()

In [58]:
cur = conn.cursor() #cursor를 통해 sql문을 주고받는다

In [59]:
# excute- (sql문 실행) 랑 fetch-(결과 받아오기) 중요

In [60]:
cur.execute('select sqlite_version();')

In [61]:
cur.fetchone()

('3.27.2',)

In [62]:
sqlite3.complete_statement('select sqlite_version();') #sql 구문을 마지막까지 알맞게 썼는지 확인해줌

True

## SQLite Data Type
- NULL
- INTEGER
- REAL
- TEXT
- BLOB

execute()
- qmark style  cur.execute('insert into people values (?,?)", (who, age))
- named style  cur.execute('select * from people where name_last =: who and age=:age', {'who' : who, 'age' : age))

In [102]:
cur.execute('create table people (name_last, age)')

who = "Ualsdk"
age = 72
cur.execute('insert into people values (?,?)', (who, age))   #qmark style -> 데이터 구조 복잡, 데이터 명끼리 섞일때 어려워짐
#commit 있어야함?            
cur.execute('select * from people where name_last=:who and age=:age', {'who' : who, 'age' : age}) #named style
            
print(cur.fetchone())

('Ualsdk', 72)

In [103]:
#qmark style , executemany

sql = 'insert into people values (?,?)'
curData = [('A',1), ('B',2), ('C',3)]
cur.executemany(sql, curData)
cur.fetchall()

[]

In [104]:
#named style , executemany

dataDict = [{'who':'e', 'age':1},{'who':'F', 'age':1},{'who':'g', 'age':1}]
sql = 'insert into people values(:who, :age)'
cur.executemany(sql,dataDict)

In [105]:
cur.execute("select * from people")
cur.fetchall()

[('Ualsdk', 72), ('A', 1), ('B', 2), ('C', 3), ('e', 1), ('F', 1), ('g', 1)]

### executescript : 여러개의 sql문을 한번에 쓸때, 앞에 무슨 작업을 했든 commit을 하고 실행한다.
cur.executescript('''
    sql1, sql2
''')

In [106]:
cur.executescript('''
    create table person(
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values('name', 'kim');
''')

OperationalError: table person already exists

In [107]:
cur.execute('select * from person')
print(cur.fetchall())

[('name', 'kim')]

### fetch 방법 
- cur.fetchone()
- cur.fetchmany(size)
- cur.fetchall()

In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect('korea.db')
print('opened database successfully')
cur = conn.cursor()
cur.execute('''
    create table company1(
        id int primary key not null,
        name text not null,
        age int not null,
        address char(50),
        salary real
        );
''')
print('table created successfully')

opened database successfully
table created successfully

In [5]:
cur.execute("insert into company1 (id, name, age, address, salary) values(1,'paul', 32, 'callifornia', 20000.00)");
cur.execute("insert into company1 (id, name, age, address, salary) values(:id, :name, :age, :address, :salary)", 
             {'id':2, 'name':'Alien', 'age':23,'address':'texas','salary':15000.00});
data = [(3, 'teddy', 23, 'Norway',20000.00),(4, 'mark', 26, 'rich-mond',65000.00)]

cur.executemany("insert into company1 (id, name, age, address, salary) values (?,?,?,?,?)", data);

In [9]:
conn.commit()

In [10]:
cur.executescript("""
    insert into company1 (id, name, age, address, salary) values (5, 'a', 25, 'rich-mond' ,65000.00);
    insert into company1 (id, name, age, address, salary) values (6, 'b', 25, 'rich-mond' ,65000.00);
""")
cur.lastrowid

2

In [5]:
cursor = conn.execute("select id, name, address, salary from company")

for row in cursor:
    print("id = ", row[0])
    print("name = ", row[1])
    print("address = ", row[2])
    print("salary = ", row[3], end='\n\n')

print("operation done successfully")

id =  1
name =  paul
address =  callifornia
salary =  20000.0

id =  2
name =  Alien
address =  texas
salary =  15000.0

id =  3
name =  teddy
address =  Norway
salary =  20000.0

id =  4
name =  mark
address =  rich-mond
salary =  65000.0

id =  5
name =  a
address =  rich-mond
salary =  65000.0

id =  6
name =  b
address =  rich-mond
salary =  65000.0

operation done successfully

In [8]:
type(row[0])

int

In [9]:
type(row[1])

str

In [10]:
type(row[2])

str

In [11]:
type(row[3])

float

In [14]:
cid = 1
cur.execute("update company set salary = 26000.00 where id = :id", {'id':cid})
conn.commit()

print("total number of rows updated : ", conn.total_changes)

cursor = conn.execute("select id, name, address, salary from company")
for row in cursor:
    print("id = ", row[0])
    print("name = ", row[1])
    print("address = ", row[2])
    print("salary = ", row[3], "\n")

total number of rows updated :  9
id =  1
name =  paul
address =  callifornia
salary =  26000.0

id =  2
name =  Alien
address =  texas
salary =  15000.0

id =  3
name =  teddy
address =  Norway
salary =  20000.0

id =  4
name =  mark
address =  rich-mond
salary =  65000.0

id =  5
name =  a
address =  rich-mond
salary =  65000.0

id =  6
name =  b
address =  rich-mond
salary =  65000.0

In [17]:
cur.execute("delete from company where id = 2;")

print("total number of rows deleted : ", conn.total_changes)

cursor = conn.execute("select id, name, address, salary from company")
for row in cursor:
    print("id = ", row[0])
    print("name = ", row[1])
    print("address = ", row[2])
    print("salary = ", row[3], "\n")

total number of rows deleted :  10
id =  1
name =  paul
address =  callifornia
salary =  26000.0

id =  3
name =  teddy
address =  Norway
salary =  20000.0

id =  4
name =  mark
address =  rich-mond
salary =  65000.0

id =  5
name =  a
address =  rich-mond
salary =  65000.0

id =  6
name =  b
address =  rich-mond
salary =  65000.0

In [19]:
conn.commit()

create Table Artist(
    id integer not null primary key autoincrement unique,
    name text
)

create Table Genre(
    id integer not null primary key autoincrement unique,
    name text
)

create Table Album(
    id integer not null primary key autoincrement unique,
    title text,
    artist_id integer
)

In [20]:
conn = sqlite3.connect('create.db')
print('opened database successfully')
cur = conn.cursor()
cur.executescript('''
    create Table Artist(
        id integer not null primary key autoincrement unique,
        name text
    );
    create Table Genre(
        id integer not null primary key autoincrement unique,
        name text
    );
    create Table Album(
        id integer not null primary key autoincrement unique,
        title text,
        artist_id integer
    );
    create Table Track(
        id integer not null primary key autoincrement unique,
        title text,
        length text,
        rating integer
        count integer,
        album_id integer,
        genre_id integer
    );
''')
print('table created successfully')

opened database successfully
table created successfully

In [23]:
cur.execute("insert into Artist (name) values ('led zepplin')")
cur.execute("insert into Artist (name) values ('AC/DC')")

In [26]:
conn.commit()

In [25]:
cur.execute("insert into Genre (name) values ('Rock')")
cur.execute("insert into Genre (name) values ('Metal')")

In [27]:
cur.lastrowid

2

In [57]:
cur.execute(
    """
    insert into Album (title, artist_id) values (:Album, (select id from Artist where name=:Artist))"""
    , {"Album":"good song", "Artist":"led zepplin"})

In [100]:
conn.commit()

In [59]:
cur.execute("delete from Album where id = 5")

In [55]:
cursor = conn.execute("select id, title, artist_id from Album")
for row in cursor:
    print("id = ", row[0])
    print("title = ", row[1])
    print("artist_id = ", row[2],"\n")

In [86]:
cur.execute(
    """
    insert into Track (title,rating, length, count, album_id, genre_id)
    values (:Track, :rating, :length, :count
    ,(select id from Album where title=:Album)
    ,(select id from Genre where name=:Genre))
    """
    , {"Track":"what the fxxk", "rating":2, "length":397,"count":0, "Album":"iv","Genre":"Metal"})

In [104]:
#그냥 조인 쓰면 inner join
cur.execute("select Album.title, Artist.name from Album join Artist on Album.artist_id = Artist.id")

In [105]:
print(cur.fetchall())

[('iv', 'AC/DC'), ('who mad who', 'led zepplin')]

In [107]:
cur.execute("select Album.title, Track.title from Track join Album on Track.album_id = Album.id")

In [108]:
print(cur.fetchall())

[('iv', 'Black Dog'), ('iv', 'what the fxxk')]

In [109]:
cur.execute(
    """
        select Track.title, Artist.name, Album.title, Genre.name
        from Track
        join Artist join Album join Genre on 
        Track.album_id = Album.id
        and Track.genre_id = Genre.id
        and Album.artist_id = Artist.id
    """)

In [110]:
print(cur.fetchall())

[('what the fxxk', 'AC/DC', 'iv', 'Metal')]